
/*background*/
.banner{
    background-color: black;
}



header img{
    
    display: block;
    width: 100%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: url(../Photo/ghosthouse-BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*content*/

main{
   
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

main img{
     display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 600px;
    height: auto;
}

h1{
     color: white;
    font-family: Papyrus, fantasy;
    font-size: 24pt;   
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

p{
    color: white;
    font-family: Papyrus, fantasy;
    font-size: 18pt;
    text-align: center;
    margin-top: 20px;
    margin:auto;
}

a{
    text-decoration: none;
}

.choice{
   text-align: center;
    margin-top: 20px;
    }
.button{
     padding: 2pt;
    border-radius: 8px;
    font-family: Papyrus, fantasy;
    font-size: 15pt;
    font-weight: bold;
    background-color: white;
    transition: 0.4s;
    
}
.button:hover{
    background-color: darkred;
    color: white;
}



footer p{
    text-align: right;
}